*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    margin: auto;
    padding:34px;
}

.container h1,p{
    text-align: center;
}

.container p{
    font-size:18px;
}

input,textarea{
    width: 80%;
    margin: 11px auto;
    padding:7px;
    font-size: 20px;
    border: 1px solid black;
    border-radius:6px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: rgb(109, 215, 238);
    padding:8px 12px;
    font-size:20px;
    border: 2px solid;
    border-radius:14px;
    cursor:pointer;
}

.bg{
    width:100%;
    position:absolute;
    z-index: -1;
    opacity: 0.6;
}

.submitMsg{
    color:green;
}

.FormError{
    color:red;
}